.image{
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

section{
    box-sizing: border-box;
    padding:5px;
    padding-top: 2%;
    padding-left: 4%;
    width: 84%;
}

.submenudiv {
	background-color: black;
	position: absolute;
	z-index: 5;
	top: 127px;
	visibility: hidden;
}




header{
    height: 54px;
    margin-bottom: 0;
}
