section{
    padding: 3px;
    width: 80%;
    height: auto;
}
iframe{
    vertical-align: top;
    display: inline-block;
}
span{
    margin-left: 30%;
}
.submenudiv {
	background-color: black;
	position: absolute;
	z-index: 5;
	top: 127px;
	visibility: hidden;
}


header{
    height: 54px;
    margin-bottom: 0;
}
