@font-face {
    font-family: "owfont";
    src:url("../fonts/big_noodle_titling_oblique.ttf");
}


body{
    margin:0;
    padding: 5%;
    padding-top: 20px;
    border:  solid 20px #515d7e;
    border-radius: 30px;
}

span{
    vertical-align: top;
}

img{
    height: 335px;
    width:660px;
    position: relative;
    float:right;
}

a{
    font-size: 150%;
    font-family: "owfont";
    position:relative;
    left: 48%;
    top: -15px;
    float; right;
}

a:visited{
    color:black;
}
